.root {
    -fx-pref-width: 500;
    -fx-pref-height: 370;
    -fx-background-radius: 8;
    -fx-background-color: rgba(217, 213, 213, 0.6);
}

#close {
    -fx-text-fill: #ffffff00;
    -fx-background-color: #ffffff00;
    -fx-border-style: none;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../img/close.png");
}

#close:hover {
    -fx-background-image: url("../img/close-on.png");
}

#hidPwd, #disPwd {
    -fx-cursor: text;
    -fx-padding: 5 32 5 5;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 10 center;
}

#hidPwd {
    -fx-background-image: url("../img/hidden.png");
}

#disPwd {
    -fx-background-image: url("../img/display.png");
}

